.root {
  color: #263238;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

@media (min-width: 1024px) {
  .root {
    max-width: 1000px;
  }
}
.image {
  width: 70%;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageAppear {
  width: 60%;
  transition: width 700ms, height 700ms ease-in;
}

.imageAppearActive {
  width: 70%;
}

@media (min-width: 1000px) {
  .image {
    width: 300px;
  }

  .imageAppear {
    width: 250px;
  }

  .imageAppearActive {
    width: 300px;
  }
}

.text {
  background-color: #FFFFFF;
  padding: 30px;
  margin-top: -20px;
}

.table {
  width: 100%;
  text-align: justify;
}

.highlight {
  color: #ACA7D2;
}
