.root {
  font-family: 'Lato', sans-serif;
  color: #666666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
}
