.root {
  display: flex;
  flex-direction: column;
}

.row {
  min-height: 80px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.row:nth-child(2n) {
  background-color: #FAFAFA;
}

.row > div {
  width: 80px;
  padding-left: 15px;
}
