.root {
  display: flex;
  flex-direction: column;
}

h1, h2 {
  margin: 1.6em 0;
}

.table {
  width: 100%;
  text-align: justify;
}

.feedback {
  margin-top: 4em;
}

.paper {
  height: 300px;
  align-self: center;
  margin-bottom: 4em;
}
