.Main__root___3zDhf {
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
  background-image: url(img/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1000px) {
  .Main__root___3zDhf {
    font-size: 1.2em;
  }
}
.Docs__root___39ki4 {
  color: #263238;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

@media (min-width: 1024px) {
  .Docs__root___39ki4 {
    max-width: 1000px;
  }
}
.Docs__image___3waOc {
  width: 70%;
}

.Docs__imageContainer___6iocL {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Docs__imageAppear___8xeiQ {
  width: 60%;
  transition: width 700ms, height 700ms ease-in;
}

.Docs__imageAppearActive___BfKbn {
  width: 70%;
}

@media (min-width: 1000px) {
  .Docs__image___3waOc {
    width: 300px;
  }

  .Docs__imageAppear___8xeiQ {
    width: 250px;
  }

  .Docs__imageAppearActive___BfKbn {
    width: 300px;
  }
}

.Docs__text___3zZST {
  background-color: #FFFFFF;
  padding: 30px;
  margin-top: -20px;
}

.Docs__table___3zSNh {
  width: 100%;
  text-align: justify;
}

.Docs__highlight___9SsCY {
  color: #ACA7D2;
}
.Link__root___3aB99 {
  color: #ACA7D2;
  text-decoration: none;
}
.Footer__root___3OGeJ {
  background-color: #9BD5FF;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.Footer__link___KF6nJ {
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
}
