.root {
  max-width: 90%;
  height: 100%;
}

@media all and (min-width: 780px) {
  .root {
    max-width: 50%;
  }
}

.main {
  padding: 5%;
  padding-bottom: 0;
  background-color: #6E8187;
}

.bertie {
  width: 60%;
  height: 51%;
  margin: 50px 0;
}

.bubble {
  padding: 5%;
  background-color: white;
  font-size: 30px;
}

.footer {
  background-color: #EEE;
  height: 80px;
}
